h1{
    color: brown;
    background-color: aquamarine;
}
.buttons{
    background-color: blue;
    height: 100vh;

}
#btn1{
background-color: blueviolet;
}
#btn2{
    background-color: blueviolet;
}
#btn3{
    background-color: blueviolet;
}
#btn4{
    background-color: blueviolet;
}